body {
    background-color: rgb(217, 48, 48);
}

h1 {
    font-style: italic;
    font-weight: bold;
    color: rgb(205, 205, 171);
    text-align: center;
}

h2 {
    font-style: italic;
    color: rgb(243, 239, 236);
    text-align: center;
}

.img1 {
    width: 40%;
}

h3 {
    font-style: italic;
    color: rgb(244, 238, 238);
    text-align: center;
}